.contains{
    /* background-color: aquamarine; */
    /* background-image: url("./pictures/R.jpeg"); */
    background-size: cover;
    /* background-repeat: no-repeat; */

}
.D{
    background-image: url("./pictures/Laborantinpetit.jpeg");
    
    background-size: cover;

}